.text-success{
    color:#28a745;
}

.text-primary{
    color:#0284d0;
}

.text-muted{
    color:#6c757d;
}

.bg-light{
    background-color:#D4F1F4;
    color:#333;
}

.bg-dark{
    background-color:#333;
}

.text-white{
    color:white;
}

.d-flex{
    display:flex;
}
.d-column{
    flex-direction:column;
}

.btn{
    text-decoration:none;
    padding:10px;
    border:none;
    border-radius:5px
}

.btn-success{
    background-color:#28a745;
    color:white;
}

.row-reverse{
    flex-direction:row-reverse;
}