body {
  margin: 0;
  padding: 0;
  background-color: #ececec;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
}

.navbar{
  width: 100%;
}

.nav-colour{
  background-color: #7DB1D6;
  position: fixed;
  top: 0; 
  z-index: 2;
  
}

.logo{
  width: 90px;
  height: 90px;
}

.nav-link{
  border-color: white;
  border-bottom: 2px solid transparent;
}

.nav-item>a{
  text-decoration: none;
  /* font-weight: bold; */
}

.nav-item>a:hover{
  border-bottom: 2px solid white;
}

.images {
  height: 70px;
  width: 60px;
  left: 20px;
  text-align: center;
}
.cart-container {
  width: 80%;
  margin: 0 auto;
  background-color: #ffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.cart-table th {
  background-color: #f2f2f2;
}
.btn {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn.remove {
  background-color: #dc3545;
}

.btn.checkout {
  background-color: #28a745;
  display: flex;
  align-self: flex-end;
  margin-top: 20px;
}
.btn.checkout:hover {
  transition: ease all 0.3s;
  transform: scale(1.06);
}

.total-container {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}

/* Footer section styling starts here */
.footer-tagline {
  font-size: 14px;
  padding:12px;
  font-style: italic;
  position: relative;
  left: 30px;
  top: -15px;
}
.footer-section {
  background-color: #edd1c0;
  padding: 40px;
  font-size: 1.12em;
}
.social-icons {
  list-style-type: none;
  padding: auto;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  gap: 8%;
}
.footer-menu a {
  list-style: disc;
  text-decoration: none;
  color: black;
}
.address-text {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 60%;
  background-color: #edd1c0;
  margin: auto;
}
.subscribe-btn {
  background-color: #182825;
  border-radius: 4px;
  color: white;
  padding: 5px;
  text-decoration: none;
  height: 45px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  border: none;
  margin-left: 5%;
}

.category-profiles{
    background-color:  #7DB1D6;;
}

.swiper-pagination{
    background-color:  #7DB1D6;;
}

.footer-logo-img {
    width: 55%;
    margin-left: 32px;
}

.parent-footer-logo{
    width: 70%;
}

.container{
    margin-left: 56%;
}

.footer-section {
    /* background-color: rgb(190, 190, 255); */
    background-color:  #7DB1D6;
    padding: 40px;
    font-size: 1.12em;
}

.address-text {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 60%;
    background-color: white;
    margin: auto;
}

/* Footer section styling ends here */