
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    flex-direction: row;
}

.d-col{
    flex-direction: column;
}

.headings{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 52px;
}

.categories-profiles{
    justify-content: space-evenly;
    
}

.images{
    height:214px;
    object-fit: cover;
}