
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-colour{
<<<<<<< HEAD
  background-color: rgb(159, 159, 250);  
  position: fixed;
  top: 0; 
  z-index: 2;
  
=======
    background-color: #7DB1D6;  
    position: fixed;
    top: 0; 
    z-index: 2;
    
>>>>>>> a38c083c4bc127d118da3f23cb4f843d35c7f350
}

.logo{
    width: 90px;
    height: 90px;
}

.nav-item>a{
  text-decoration: none;
  /* font-weight: bold; */
}

.nav-link{
  border-color: white;
  border-bottom: 2px solid transparent;
}

.nav-item>a:hover{
  border-bottom: 2px solid white;
}

.d-flex{
    flex-direction: row;
}

.d-col{
    flex-direction: column;
}
.rating{
  margin-top:15px;
  font-size:14px;
  color:hsl(36,88%,66%);
}

.headings{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 52px;
    /* font-size: 39px; */
    /* font-weight: bold; */
    margin: 23px;
}

.categories-profiles{
    justify-content: space-evenly;
    
}

.images{
    height:214px;
    object-fit: cover;
}

.modal-dialog input {
    outline: none;
    border: 1px solid grey;
  }
  .modal-dialog span {
    font-size: 1.1em;
  }
  .button {
    padding: 6px;
    border: none;
    background-color: white;
  }
  .submit-btn {
    background-color: #edd1c0;
    border-radius: 30px;
    padding: 8px;
    width: 25%;
    font-size: 1.05em;
  }
  
  .brand-logo {
    width: 20%;
  }
  .d-none {
    display: none;
  }

  .card{
    width:200px;
    box-shadow: 2px 2px gray;
  }


  .card-text{
    color: gray;
  }

  /* Footer section styling starts here */
.footer-tagline {
    font-size: 14px;
    font-style: italic;
    position: relative;
    left: 30px;
    top: -15px;
  }
  .footer-section {
    background-color: #edd1c0;
    padding: 40px;
    font-size: 1.12em;
  }
  .social-icons {
    list-style-type: none;
    padding: auto;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 8%;
  }
  .footer-menu a {
    list-style: disc;
    text-decoration: none;
    color: black;
  }
  .address-text {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 60%;
    background-color: #edd1c0;
    margin: auto;
  }
  .subscribe-btn {
    background-color: #182825;
    border-radius: 4px;
    color: white;
    padding: 5px;
    text-decoration: none;
    height: 45px;
    width: 20%;
    text-align: center;
    font-size: 20px;
    border: none;
    margin-left: 5%;
  }
  
  .category-profiles{
      background-color:  #7DB1D6;;
  }
  
  .swiper-pagination{
      background-color:  #7DB1D6;;
  }
  /* Footer section styling ends here */
  
  .images{
      height:220px;
      object-fit: cover;
  }
  
  .card{
       box-shadow: 3px 3px grey;
  }
  
  .card-text{
      color: gray;
  }
  
  .brand-logo {
    width: 40%;
  }
  
  .button {
    padding: 6px;
    border: none;
    background-color: white;
    outline: none;
  }
  
  .submit-btn {
    background-color: rgb(147, 147, 255);
    border-radius: 30px;
    padding: 8px;
    width: 25%;
    font-size: 1.05em;
  }
  
  
  /* footer */
  .footer-logo-img {
      width: 55%;
      margin-left: 32px;
  }
  
  .parent-footer-logo{
      width: 70%;
  }
  
  .container{
      margin-left: 56%;
  }
  
  .footer-section {
      /* background-color: rgb(190, 190, 255); */
      background-color:  #7DB1D6;
      padding: 40px;
      font-size: 1.12em;
  }
  
  .address-text {
      border: none;
      outline: none;
      border-bottom: 1px solid black;
      width: 60%;
      background-color: white;
      margin: auto;
  }
  
  /* testimonials */
  *{
      margin:0;
      padding:0;
      box-sizing:border-box;
  }
  
  body{
      font-size:30px;
      background-color:  #7DB1D6;
  }
  
  .container1{
      max-width:1170px;
      margin:auto;
      /* padding:0 15px; */
  }
  .section-header{
      text-align:center;
      margin-bottom:50px;
  }
  
  .section-header .title{
      font-size:35px;
      font-weight:600;
      text-transform:capitalize;
      color:hsl(0,0%,100%);
      line-height:1.2;
  }
  
  .testimonials{
      padding:100px 0;
  }
  
  .testimonials-item{
      background-color:hsl(0,0%,100%);
      padding:30px;
      border-radius:30px;
  }
  .testimonials-item .info{
      display:flex;
      align-items:center;
  }
  .testimonials-item img{
      max-width:80px;
      border-radius:50%;
      margin-right:20px;
      vertical-align:middle;
  }
  .testimonials-item .name{
      font-size:24px;
      text-transform:capitalize;
      font-weight:600;
      color:hsl(0,0%,0%);
      line-height:1.2;
  }
  
  .testimonials-item .job{
      text-transform:capitalize;
      color:hsl(0,0%,40%);
  }
  
  .testimonials-item p{
      margin-top:20px;
      color:hsl(0,0%,40%);
  }
  
  .testimonials-item .rating{
      margin-top:15px;
      font-size:14px;
      color:hsl(36,88%,66%);
  }
  .testimonials .swiper-pagination{
      position:relative;
      margin-top:40px;
      bottom:auto;
  }
  
  .testimonials .swiper-pagination-bullet{
      height:12px;
      width:12px;
      background-color:hsl(0,0%,100%);
  }
  
  .category-name{
    font-size: 23px;
    font-weight: bold;
}