
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-colour{
  background-color: rgb(159, 159, 250);  
  position: fixed;
  top: 0; 
  z-index: 2;
  
}

.logo{
    width: 90px;
    height: 90px;
}

.d-flex{
    flex-direction: row;
}

.d-col{
    flex-direction: column;
}
.rating{
  margin-top:15px;
  font-size:14px;
  color:hsl(36,88%,66%);
}

.headings{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 52px;
    /* font-size: 39px; */
    /* font-weight: bold; */
    margin: 23px;
}

.categories-profiles{
    justify-content: space-evenly;
    
}

.images{
    height:214px;
    object-fit: cover;
}

.modal-dialog input {
    outline: none;
    border: 1px solid grey;
  }
  .modal-dialog span {
    font-size: 1.1em;
  }
  .button {
    padding: 6px;
    border: none;
    background-color: white;
  }
  .submit-btn {
    background-color: #edd1c0;
    border-radius: 30px;
    padding: 8px;
    width: 25%;
    font-size: 1.05em;
  }
  
  .brand-logo {
    width: 20%;
  }
  .d-none {
    display: none;
  }

  .card{
    width:200px;
    box-shadow: 2px 2px gray;
  }


  .card-text{
    color: gray;
  }

  